node_modules/
dist/
docs/
diagrams/
README.md
README.tmp
LICENSE
.env
.vscode
*.xlsx
*.json
*.zip
*.tgz
*.png
*.sh

# Ignore all JSON files except:
!package.json
!package-lock.json
!.jsdoc.json
!.jsdoc_full.json
