node_modules/
dist/
.github/
.env
.vscode
*.xlsx
*.json
*.zip
*.txt

.env.example
.eslintrc.js
.eslintrc_win.js
.gitignore
.npmignore
.eslintignore

# Ignore all JSON files except:
!package.json
!package-lock.json
!app/config/regions.json

# Ignore all Excel files except:
!data/day1.xlsx

# Exclude examples
app/src/examples/

# Docker
Docker
.dockerignore
