node_modules/
dist/
.github/
.env
.vscode
*.xlsx
*.json
*.zip
*.txt
*.tgz

.env.example
.eslintrc.js
.eslintrc_win.js
.gitignore
.npmignore
.eslintignore

# Ignore all JSON files except:
!package.json
!package-lock.json
!config/regions.json

# Ignore all Excel files except:
!data/day1.xlsx

# Exclude directories
src/examples/

# Docker
Dockerfile
.dockerignore
jest.config.js
