node_modules/
dist/
.github/
.env
.vscode
*.xlsx
*.json
*.zip
*.tgz
*.txt
*.tgz
*.png
*.sh

.env.example
.eslintrc.js
.eslintrc_win.js
.gitignore
.npmignore
.eslintignore
README.md
README.tmp

# Ignore all JSON files except:
!package.json
!package-lock.json
!config/regions.json

# Ignore all Excel files except:
!data/day1.xlsx

# Exclude directories
src/examples/
docs/
diagrams/

# Docker
Dockerfile
.dockerignore
jest.config.js
